@use "../../scss/" as *;

.navbar {
  height: 96px;
  background-color: $main-color;

  @include tablet {
    height: 80px;
  }

  @include mobile {
    height: 70px;
  }

  &__wrapper {
    height: 100%;
    @include flex(center, center);
  }

  &__icon {
    font-size: 30px;
    margin-right: 20px;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 25px;
    }
  }

  &__heading {
    font-size: 40px;

    @include tablet {
      font-size: 35px;
    }

    @include mobile {
      font-size: 30px;
    }
  }
}
